<div class="container">
    <div class="posicion">
      <div class="card mt-4">
        <div class="card-header">
          <h3>Registros Guardados de Producto</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre del Producto</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Imagen del Producto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>COCA-COLA</td>
                <td>Agua carbonatada, color caramelo IV, café en polvo, acidulante (ácido fosfórico), saborizantes (saborizantes naturales, cafeína), edulcorantes (sucralosa, acesulfame k) , conservantes (benzoato de sodio, sorbato de potasio), antiespumante (polidimetilsiloxano).</td>
                <td>$3000</td>
                <td>Hogar</td>
                <td><img src="ruta-a-imagen1.jpg" alt="Imagen del Producto 1" width="100"></td>
              </tr>
              <tr>
                <td>Camisa Polo</td>
                <td>Camisa de algodón, color azul, talla M.</td>
                <td>$45,000</td>
                <td>Ropa</td>
                <td><img src="ruta-a-imagen2.jpg" alt="Imagen del Producto 2" width="100"></td>
              </tr>
              <tr>
                <td>Juguete Educativo</td>
                <td>Juego de bloques de construcción, recomendado para niños de 3 a 6 años.</td>
                <td>$60,000</td>
                <td>Juguetes</td>
                <td><img src="ruta-a-imagen3.jpg" alt="Imagen del Producto 3" width="100"></td>
              </tr>
              <tr>
                <td>Aspiradora</td>
                <td>Aspiradora de 1500W, ideal para el hogar.</td>
                <td>$250,000</td>
                <td>Hogar</td>
                <td><img src="ruta-a-imagen4.jpg" alt="Imagen del Producto 4" width="100"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

